.gitignore
.idea
.settings
.buildpath
.project
.DS_Store
**/._*
**/.DS_Store
**/.scssc
**/[Tt]humbs.db
**/.sass-cache
**/.sass-cache/
**/.sass-cache/*
**/scss_cache/
**/*~
PROMPT.md
CLAUDE.md
.claude
phpdemo
